<app-admin-header></app-admin-header>

<mat-form-field id='filter'>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-raised-button color='warn' routerLink='/adminAdd' id='add'>Add Admin</button>

<mat-tab-group (selectedTabChange)='yourAdmin($event)'>

  <mat-tab label="Admin">

    <div class="container">
      <br>
      <br>
      <h3>Active Administrator</h3>
      <br>
      <table mat-table #sortActive="matSort" [dataSource]="dataSource" matSort align="center" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef style="width: 20%">Details</th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
              [routerLink]="['/admin', element.adminid]">
              Details</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator #paginatorActive="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons matPaginator></mat-paginator>
    </div>
  </mat-tab>

  <!--blocked admin-->
  <mat-tab label="Blocked Admin">

    <div class="container">
      <br>
      <br>
      <h3>Blocked Administrator</h3>
      <br>
      <table mat-table #sortBlocked="matSort" [dataSource]="dataSource" matSort align="center" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 35%;"> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
  
          <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef style="width: 10%">Details</th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
                [routerLink]="['/admin', element.adminid]">
                Details</button> </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
      <mat-paginator #paginatorBlocked="matPaginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons matPaginator></mat-paginator>
    </div>
  
  </mat-tab>

</mat-tab-group>