table {
    width: 100%;
    
}
#add {
    float: right;
    position: absolute;
    margin-left: 86%;
    margin-top: 0.5%;
    z-index: 1001;
}

#filter{
    margin-left: 68%;
    position: absolute;
    z-index: 1001
}
