<mat-form-field id='filter'>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>


<mat-tab-group (selectedTabChange)='yourPresenter($event)'>

  <mat-tab label="Users">

    <div class="container">
      <br>
      <br>
      <h3>Active Presenters</h3>
      <br>
      <table mat-table #sortActive="matSort" [dataSource]="dataSource" matSort align='center' class="mat-elevation-z8">

        <ng-container matColumnDef="profilepic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile Pic </th>
          <td mat-cell *matCellDef="let element"> {{element.profilepic}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>
        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef>Details</th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
              [routerLink]="['/presenter', element.presid]">Details</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator #paginatorActive='matPaginator' [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons matPaginator></mat-paginator>
    </div>

  </mat-tab>


  <!--blocked user-->
  <mat-tab label="Blocked Users">

    <div class="container">
      <br>
      <br>
      <h3>Blocked Presenters</h3>
      <br>
      <table mat-table #sortBlocked="matSort" [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="profilepic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Profile Pic </th>
          <td mat-cell *matCellDef="let element"> {{element.profilepic}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef>Details</th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
              [routerLink]="['/presenter', element.presid]">Details</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginatorBlocked='matPaginator' [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons matPaginator></mat-paginator>
    </div>

  </mat-tab>
</mat-tab-group>