  #left {
      width: 25%;
      float: left;
      font-size: 20px;
      margin-left: 2%;
  }

  #right {
      width: 63%;
      float: right;
      text-decoration: underline dashed gray;
      font-size: 20px;
  }

  .card {
      border: 1px black solid
  }

  .btn1 {
      width: 5%;
      float: left;
      margin-left: 2%
  }

  .btn2 {
      width: 83%;
      float: right;
  }