<app-presenter-detail-header></app-presenter-detail-header>

<br>
<br>
<br>

<div class="container">
    <h2>Presenter Information</h2>
    <br>
    <mat-card class="card">
        <br>
        <span id="left">Name: </span><span id="right">{{presData.name}}</span>
        <br>
        <br>
        <br>
        <span id="left">Email: </span><span id="right">{{presData.email}}</span>
        <br>
        <br>
        <br>
        <span id="left">Created Date: </span><span id="right">{{presData.createdAt}}</span>
        <br>
        <br>
        <br>

        <div *ngIf="presData.status==0" class="btn1">
            <button mat-raised-button color="warn" (click)='blockPresenter()'>Block
                Presenter</button>
        </div>

        <div *ngIf="presData.status==1" class="btn1">
            <button mat-raised-button color="warn" (click)='unblockPresenter()'>Unblock
                Presenter</button>
        </div>

        <div class="btn2">
            <button mat-raised-button color="warn" (click)='deletePresenter()'>Delete Presenter</button>
        </div>

        <br>
        <br>
    </mat-card>
</div>