<app-account-header></app-account-header>
<!-- <form [formGroup]='accountForm' class="example-form" style="margin-left: 8%">
  <div class="container">
    <mat-form-field>
      Name: <input matInput placeholder="" class='form-control' type='text' id='name' [formControlName]="'name'">
      <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
    </mat-form-field> <br>

    <mat-form-field>
      Email: <input matInput placeholder="" class='form-control' type='text' id='email' [formControlName]="'email'">
      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      Current Password: <input matInput placeholder="" class='form-control' type='text' id='password'
        [formControlName]="'oldpassword'">
      <mat-error *ngIf="hasError('oldpassword', 'required')">Current Password is invalid</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      New Password: <input matInput placeholder="" class='form-control' type='text' id='password'
        [formControlName]="'newpassword'">
      <mat-error *ngIf="hasError('newpassword', 'required')">Enter a valid password</mat-error>
    </mat-form-field><br>

    <mat-form-field>
      Confirm New Password: <input matInput placeholder="" class='form-control' type='text' id='password'
        [formControlName]="'confirmpassword'">
      <mat-error *ngIf="hasError('confirmpassword', 'required')">New password is required</mat-error>
    </mat-form-field><br>

    <div id="inform"></div>

    <button mat-stroked-button (click)='onUpdate()' [disabled]='!accountForm.valid'>Save Changes</button>
    <button mat-stroked-button (click)='onLogout()'>Logout</button>
  </div>
</form> -->

<br>
<br>
<br>

<div class="container" style="width: 70%;">
  <form class="example-form" [formGroup]='accountForm'>
    <!-- Name -->
    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
      <mat-label>Name: </mat-label>
      <input matInput placeholder="Name" #email value="{{accountData.name}}" [formControlName]="'name'">
      <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
    </mat-form-field>

    <br>
    <br>

    <!-- Email -->
    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
      <mat-label>Email: </mat-label>
      <input matInput placeholder="Email" #email value="{{accountData.email}}" [formControlName]="'email'">
      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
    </mat-form-field>

    <br>
    <br>

    <!-- Current Password -->
    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
      <mat-label><span style="font-style: italic; color: red;">*</span> Current Password: </mat-label>
      <input matInput placeholder="Current Password" [type]="hide ? 'password' : 'text'" #email value=""
        [formControlName]="'oldpassword'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="hasError('oldpassword', 'required')">Current Password is invalid</mat-error>
    </mat-form-field>

    <br>
    <br>

    <!-- New password -->
    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
      <mat-label>New Password: </mat-label>
      <input matInput placeholder="New Password" #email value="" [type]="hide1 ? 'password' : 'text'"
        [formControlName]="'newpassword'">
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <!-- <mat-error *ngIf="hasError('newpassword', 'required')">Enter a valid password</mat-error> -->
    </mat-form-field>

    <br>
    <br>

    <!-- Repeat Password -->
    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
      <mat-label>Repeat Password: </mat-label>
      <input matInput placeholder="Repeat Password" #email value="" [type]="hide2 ? 'password' : 'text'"
        [formControlName]="'confirmpassword'">
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <!-- <mat-error *ngIf="hasError('confirmpassword', 'required')">New password is required</mat-error> -->
    </mat-form-field>

    <br>
    <div style="font-style: italic; color: red; font-size: 14px; font-weight: bold;" id="inform"></div>
    <br>

    <button mat-raised-button color="warn" (click)='onUpdate()' [disabled]='!accountForm.valid'
      style='width: 100%;'>Save Changes</button>
    <br>
    <br>
    <button mat-raised-button (click)='goBack()' style="width: 100%;">Cancel</button>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)='onLogout()' style="width: 100%;">Logout</button>

  </form>

</div>