<app-admin-add-header></app-admin-add-header>
<!-- <form [formGroup]='adminForm'>
  <div class='form-group'>
    <div class="container">
      <mat-form-field>
        Name: <input matInput placeholder="" class='form-control' type='text' id='name' [formControlName]='"name"'>
        <mat-error *ngIf="hasError('name', 'required')">Last Name is required</mat-error>
      </mat-form-field> <br>

      <mat-form-field>
        Email: <input matInput placeholder="" class='form-control' type='text' id='email' [formControlName]='"email"'>
        <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
      </mat-form-field><br>

      <mat-form-field>
        Password: <input matInput placeholder="" class='form-control' type='text' id='password'
          [formControlName]='"password"'>
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
      </mat-form-field><br>

      <button mat-stroked-button type='button' (click)='onAdd()' [disabled]='!adminForm.valid'>Submit</button>
      <button mat-stroked-button routerLink='/adminList'>Cancel</button>
    </div>
  </div>
</form> -->

<!-- 
<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Administrator Name</mat-label>
  <input matInput placeholder="" class='form-control' type='text' id='name' [formControlName]='"name"'>
  <mat-error *ngIf="hasError('name', 'required')">Last Name is required</mat-error>
</mat-form-field>

<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Administrator Email</mat-label>
  <input matInput placeholder="" class='form-control' type='text' id='email' [formControlName]='"email"'>
  <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
</mat-form-field>

<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Administrator Password</mat-label>
  <input matInput placeholder="" class='form-control' type='text' id='password' [formControlName]='"password"'>
  <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
</mat-form-field> -->

<div class="container">
  <br>
  <br>
  <br>
  <br>

  <form class="example-form" [formGroup]='adminForm'>
    <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
      <mat-label>Administrator Name</mat-label>
      <input matInput placeholder="Name" class='form-control' type='text' id='name' [formControlName]='"name"'>
      <mat-error *ngIf="hasError('name', 'required')">Last Name is required</mat-error>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
      <mat-label>Administrator Email</mat-label>
      <input matInput placeholder="Email" class='form-control' type='text' id='email' [formControlName]='"email"'>
      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
      <mat-label>Administrator Password</mat-label>
      <input matInput placeholder="Password" class='form-control' [type]="hide ? 'password' : 'text'" type='text'
        id='password' [formControlName]='"password"'>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
    </mat-form-field>

    <br>
    <br>

    <div style="float: right;">
      <button mat-stroked-button mat-raised-button routerLink='/adminList'>Cancel</button> &nbsp; &nbsp;
      <button mat-stroked-button mat-raised-button color="warn" type='button' (click)='onAdd()'
        [disabled]='!adminForm.valid'>Create Administrator</button>
    </div>
  </form>
</div>