<div class="bgimg">
    <mat-card class="example-card">
        <br>
        <h1 style="text-align: center;"><span style="color: red">SP</span> EzQ</h1>
        <br>
        <mat-card-title style="text-align: center; font-size: 25px;">Administrator Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]='loginform' class="example-form" style="margin-left: 10%">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName='email'>
                    <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <!-- <input matInput placeholder="Password" formControlName='password'> -->
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" #password formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="example-button-row">
                <button mat-raised-button (click)='onLogin()' [disabled]='!loginform.valid'
                    style="background-color: #50c878; color: white; margin-left: 10%; width: 80%">Login</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>