.bgimg {
    background-image: url("../../assets/images/home.jpeg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .example-card {
    width: 45%;
    height: 430px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
  }
  
  .example-full-width {
    width: 100%;
  }
  