body {
    padding-top: 80px; 
 }
 
 .white-icon {
    color: white;
    font-size: 30px;
 }

 #email{
    font-size: 70%;
    width:50%;
    margin:0;
    padding:0;
}

#admin{
    font-size: 80%;
    width:50%;
    margin-top:0;
    padding-top:0;
}

 
 /* #back {
     float: left;
     position: relative;
 }

 #email {
     position: relative;
 }

 #position{
     position: absolute;

 } */