<mat-toolbar color="warn">
  <div id='back'>
    <a class="nav-link" routerLink='/presenter'>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class='white-icon'>arrow_back_ios</mat-icon>
    </a>
  </div>
  <h2 style="font-size: 1em">{{adminEmail}} <span style="font-size: 0.9em; color: lightgray">(Admin)</span></h2>

</mat-toolbar>