<app-admin-header></app-admin-header>

<app-admin-add (adminAdded)='onAdminAdded($event)'></app-admin-add>
<app-admin-details></app-admin-details>
<app-admin-list [adminBlocked]='adminBlocked'></app-admin-list>