<mat-toolbar color="warn">
        <mat-icon matSuffix>person</mat-icon> &nbsp;
        <h2 style="font-size: 1em">{{adminEmail}} <span style="font-size: 0.9em; color: lightgray">(Admin)</span></h2>
        <span class="myTitle">Administrator List</span>
        <button mat-raised-button style="position: absolute; margin-left: 67%;" class="nav-link"
                routerLink='/presenter'>Manage Presenter
        </button>
        <button mat-raised-button style="position: absolute; margin-left: 79%; ; background-color: red; color: white"
                class="nav-link" routerLink='/adminList'>Manage
                Administrator
        </button>
        <!-- <a routerLink='/account/{{adminSvc.adminEmail}}'> -->
        <mat-icon routerLink='/account/{{adminSvc.adminEmail}}' matSuffix
                style="position: absolute; color: white; z-index: 1001; margin-top: -1.5%; font-size: 40px">
                face
        </mat-icon>
        <!-- </a> -->
</mat-toolbar>