body {
    padding-top: 80px; 
 }
 
 #email{
    font-size: 70%;
    width:50%;
    margin:0;
    padding:0;
}

.white-icon {
    color: white;
    font-size: 30px;
 }

 .myTitle {
    margin-left: 40%;
    font-size: 1.5em;
    position: absolute;
 }