body {
    padding-top: 80px; 
 }
 
 #email{
    font-size: 70%;
    width:50%;
    margin:0;
    padding:0;
}

#admin{
    font-size: 80%;
    width:50%;
    margin-top:0;
    padding-top:0;
}

.white-icon {
    color: white;
    font-size: 30px;
 }