<mat-toolbar color="warn">
        <a class="nav-link" (click)='goBack()'>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class='white-icon' style="cursor: pointer">arrow_back_ios</mat-icon>
          </a>
    <span style="position: absolute; margin-left: 43%;">Account Settings</span>

</mat-toolbar>