<app-admin-details-header></app-admin-details-header>

<br>
<br>
<br>

<div class="container">
    <h2>Administrator Information</h2>
    <br>
    <mat-card class="card">
        <br>
        <span id="left">Name: </span><span id="right">{{adminData.name}}</span>
        <br>
        <br>
        <br>
        <span id="left">Email: </span><span id="right">{{adminData.email}}</span>
        <br>
        <br>
        <br>

        <div class="btn1" *ngIf="adminData.email !== this.adminSvc.adminEmail">
            <button mat-raised-button color="warn" (click)='onResetPassword()'>Reset Password</button>
        </div>

        <div *ngIf='adminData.status == 0 && adminData.email !== this.adminSvc.adminEmail' class="btn2">
            <button mat-raised-button color="warn" (click)='blockAdmin()'>Block
                Administrator</button>
        </div>

        <div *ngIf='adminData.status == 1 && adminData.email !== this.adminSvc.adminEmail' class="btn3">
            <button mat-raised-button color="warn" (click)='unblockAdmin()'>Unblock
                Administrator</button>
        </div>

        <div class="btn4" *ngIf="adminData.email !== this.adminSvc.adminEmail">
            <button mat-raised-button color="warn" (click)='deleteAdmin()'>Delete
                Administrator</button>
        </div>

        <br>
        <br>
    </mat-card>
</div>